{% extends "dbase.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}

{% load static %}
	<link href="{% static 'styles/dashboard.css'%}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
<!--{% block name %}{{name}} {% endblock %}-->
{% block header %}
Keyword: {{name}}
{% endblock %}
{% block content %}

<div class="charts">

	<div class="table-responsive">
	<div class="container-lg">
	<div class="row no-gutters my-0">

		<div class=" col-sm-4">
			<div class="container">
				<div class="hpos">
                	<p>Positive</p>
            	</div>
				<div class="positive">
					<h5>{{data.0}} Tweets Are Positive</h5>
				</div>
			</div>
		</div>
		<div class=" col-sm-4">
			<div class="container">
				<div class="hneg">
                	<p>Negative</p>
            	</div>
				<div class="negative">
					<h5>{{data.1}} Tweets Are Negative</h5>
				</div>
			</div>
		</div>
		<div class=" col-sm-4">
			<div class="container">
				<div class="hneu">
                	<p>Neutral </p>
            	</div>
				<div class="neutral">
					<h5>{{data.2}} Tweets Are Neutral</h5>
				</div>
			</div>
		</div>

		</div>
		<div class="row no-gutters my-0">

		<div class=" col-sm-4">
			<div class="container">
				<div class="hang">
                	<p>Angry</p>
            	</div>
				<div class="angry">
					<h5>{{data.3}} Tweets Are Angry</h5>
				</div>
			</div>
		</div>
		<div class=" col-sm-4">
			<div class="container">
				<div class="hhappy">
                	<p>Happy</p>
            	</div>
				<div class="happy">
					<h5>{{data.4}} Tweets Are Happy</h5>
				</div>
			</div>
		</div>
			<div class=" col-sm-4">
			<div class="container">
				<div class="htweet">
                	<p>Tweets</p>
            	</div>
				<div class="tweets">
					<h5>{{total}} Are Total Tweets</h5>
				</div>
			</div>
		</div>


		</div>
		<div class="row  no-gutters  ">
		<div class=" col-sm-6">
			<div class="bchart">
				<div class="h-barChart">
                	<p>Word Frequency By Sentiment</p>
            	</div>
				<div class="bar-chart">
					<div class="bsize">
						<canvas id="barChart" HEIGHT="200"></canvas>
					</div>
				</div>
			</div>
		</div>
			<div class=" col-sm-2">
			<div class="pchart">
				<div class="h-pieChart">
                	<p>Reviews Classification</p>
            	</div>
				<div class="pie-chart">
					<div class="bsize">
						<canvas id="p-Chart" HEIGHT="200"></canvas>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="row no-gutters ">
		<div class="col-sm-4">
			<div class="schart">
				<div class="h-sChart">
                	<p>Word Cloud</p>
            	</div>
				<div class="s-chart">
					<div class="boxsize">
						<img style="padding-left:160px;" src="{% static 'wordcloudoutput/image.png' %}" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>
<script>
    $(document).ready(function(){
    var ctx = document.getElementById('barChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label:'Label',

            data: {{data|safe}},
            backgroundColor: [
                'rgba(78, 168, 82, 1)',
                'rgba(252, 147, 10,1)',
                'rgba(51, 177, 235,1)',
                'rgba(244, 67, 54,1)',
                'rgba(249, 180, 24,1)'

            ],
            borderColor: [
                'rgb(78, 168, 82,1)',
                'rgba(252, 147, 10,1)',
                'rgba(51, 177, 235,1)',
                'rgba(244, 67, 54,1)',
                'rgba(249, 180, 24,1)'


            ],
            borderWidth: 1
        }]
    },
    options: {

    	scaleShowValues: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    autoSkip: false
                }
            }],
            xAxes: [{
            	stacked: false,
        		beginAtZero: true,
            	ticks: {
            		autoSkip: false,


            	},
            	barThickness: 50,
				maxBarThickness: 54,
            }]
        }
    }
});

    });

</script>
<script>
    $(document).ready(function(){
    var ctx = document.getElementById('p-Chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: '',
            data: {{data|safe}},
            backgroundColor: [
                'rgba(78, 168, 82, 1)',
                'rgba(252, 147, 10,1)',
                'rgba(51, 177, 235,1)',
                'rgba(244, 67, 54,1)',
                'rgba(249, 180, 24,1)'

            ],
            borderColor: [
                'rgba(78, 168, 82, 1)',
                'rgba(252, 147, 10,1)',
                'rgba(51, 177, 235,1)',
                'rgba(244, 67, 54,1)',
                'rgba(249, 180, 24,1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    });

</script>
<script>
    $(document).ready(function(){
    var ctx = document.getElementById('l-Chart').getContext('2d');
	var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: 'labels',
            data: {{data|safe}},
            backgroundColor: [

                'rgba(78, 168, 82, 1)',
                'rgba(252, 147, 10,1)',
                'rgba(51, 177, 235,1)',
                'rgba(244, 67, 54,1)',
                'rgba(249, 180, 24,1)',


            ],
            borderColor: [
                'rgba(78, 168, 82, 1)',
                'rgba(252, 147, 10,1)',
                'rgba(51, 177, 235,1)',
                'rgba(244, 67, 54,1)',
                'rgba(249, 180, 24,1)',


            ],
         fill: false,
         pointRadius:8
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    });

</script>
<script>
    $(document).ready(function(){
    var ctx = document.getElementById('s-Chart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: [{
            x: 1,
            y: 1
         }, {
            x: 3,
            y: 7
         }, {
            x: 6,
            y: 5
         }, { // add same data as the first one, to draw the closing line
            x: 1,
            y: 1
         }],
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: ['#000', '#00bcd6', '#d300d6'],
         pointBorderColor: ['#000', '#00bcd6', '#d300d6'],
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }, {
         data: [{
            x: 3.5,
            y: 4.5
         }],
         pointBackgroundColor: 'orange',
         pointBorderColor: 'darkorange',
         pointRadius: 10,
         pointHoverRadius: 10
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 8,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});

    });

</script>

{% endblock %}