{% extends "dbase.html" %}
{% block title %}Profile{% endblock %}
{% block head %}

{% load static %}
	<link href="{% static 'styles/profile.css'%}" rel="stylesheet">

{% endblock %}
{% block header %}
Welcome!! Have a nice day
{% endblock %}
{% block content %}
<div class="table-responsive">
<div class="container-lg">

        <div class="table-wrapper">
			 <div class="h">
                <p>Profile</p>
            </div>

				<div class="container">
				  <div class="row">
					<div class="col-sm">
						<label >Username </label>
					 	   <div class="row">
							   <p style="padding-left:15px">{{info.username}}</p>
							</div>
						 <label  >Email </label>
						     <div class="row">
								 <p style="padding-left:15px">{{info.email}}</p>
							</div>

					</div>
					<div class="col-sm">
						<form method="post" action="">
						{% csrf_token%}

                    <div class="form-row">

								 <label  class=" pr-5">Old Password</label>
							  	{{form.old_password}}

						</div>
                    <div class="form-row">

								  <label class=" pr-5">New Password</label>
							  	{{form.new_password1}}

						</div>
                    <div class="form-row">

								  <label class=" pr-4">Confirm Password</label>
							  	{{form.new_password2}}

						</div>
						 {% if form.errors%}
								{% for field in form%}
									{% for error in field.errors%}
										{{error|escape}}
									{% endfor %}
								{% endfor %}
						{% endif %}
						{% for message in messages %}
	   						{{ message }}
   						{% endfor %}
                    <div class="form-row">
							 <div class="col-lg-7">
							  	<input type="submit" value="Save" class="btn-1 mt-3" >
							</div>
						</div>
                </form>
					</div>
				  </div>
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}