{% extends "dbase.html" %}
{% block title %}Projects{% endblock %}
{% block head %}

{% load static %}
	<link href="{% static 'styles/project.css'%}" rel="stylesheet">


{% endblock %}
{% block header %}
Welcome!! Have a nice day
{% endblock %}
{% block content %}

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="h">
                <p>Your Projects</p>
            </div>

            <table class="table " style="text-align: center;">
                <thead>
                    <tr style="text-align: center; color:#4D7CFE;">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in projects%}
                    <tr>
                        <td>{{forloop.counter}}</td>

                        <td ><a name="projects" href="{% url 'dashboard' p.id %}" >{{p.name}}</a></td>

                        <td>
                            <a class="delete" title="Delete" href="{% url 'deleteProject' p.id %}" onclick="return confirm('Are you sure you want to delete?')" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>

                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
