{% extends "dbase.html" %}
{% block title %}Projects{% endblock %}
{% block head %}

{% load static %}
	<link href="{% static 'styles/project.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Your Projects</b></h2></div>
                    <div class="col-sm-4">
                        <a href="{% url 'createProject' %}">
                            <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </a>
                    </div>
                </div>
                <hr style="border-top: 2px solid #4D7CFE;"/>
            </div>
            <table class="table table-bordered" style="text-align: center;">
                <thead>
                    <tr style="text-align: center;">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in projects%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td >{{p.name}}</td>
                        <td>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>

                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
$(document).ready(function(){

	// Delete row on delete button click
	$(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
		$(".add-new").removeAttr("disabled");
    });
});
{% endblock %}
