body {
  background-image: url("/static/img/search.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 300px;

}
.container{
     width: 50%;

	  }
#pageloader
{
  background: rgba( 180, 180, 180, 0.8 );
  display: none;
  height: 50%;
  position: fixed;
  margin-left:-10px;
  width:50%;
  z-index: 9999;
  text-align: center;
  vertical-align: middle;

}
#pageloader p
{
margin-top:50px;
color:white;
font-size:28px;
}

#spinner{
    display: inline-block;
    margin-top:50px;

}

@media only screen and (max-width: 767px) {
    body {
        background-image: none;

    }
}

